
<div class="card w-100 mt-5" style="position: fixed; left: 0; bottom: 0; width: 100%; background: linear-gradient(0.25turn, #e6e6e6, #f69d3c);">
    <div class="card-header">
      <p>&#169; All Rights Reserved</p>
      <footer class="blockquote-footer">
        <span title="Source Title">Nikhil Chouhan</span>
      </footer>
    </div>
  </div>
  